In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [45]:
train = pd.read_csv('titanictrain.csv')
test = pd.read_csv('titanictest.csv')

In [46]:
X_train = train.drop(['Survived'], axis = 1)
y_train = train['Survived']

In [47]:
X_test = test

In [48]:
X_train = X_train.drop(['PassengerId','Name','Ticket'], axis = 1)
X_test = X_test.drop(['PassengerId','Name','Ticket'], axis = 1)

In [49]:
X_train

     Pclass     Sex   Age  SibSp  Parch      Fare        Cabin Embarked
0         3    male  22.0      1      0    7.2500          NaN        S
1         1  female  38.0      1      0   71.2833          C85        C
2         3  female  26.0      0      0    7.9250          NaN        S
3         1  female  35.0      1      0   53.1000         C123        S
4         3    male  35.0      0      0    8.0500          NaN        S
5         3    male   NaN      0      0    8.4583          NaN        Q
6         1    male  54.0      0      0   51.8625          E46        S
7         3    male   2.0      3      1   21.0750          NaN        S
8         3  female  27.0      0      2   11.1333          NaN        S
9         2  female  14.0      1      0   30.0708          NaN        C
10        3  female   4.0      1      1   16.7000           G6        S
11        1  female  58.0      0      0   26.5500         C103        S
12        3    male  20.0      0      0    8.0500          NaN        S
13        3    male  39.0      1      5   31.2750          NaN        S
14        3  female  14.0      0      0    7.8542          NaN        S
15        2  female  55.0      0      0   16.0000          NaN        S
16        3    male   2.0      4      1   29.1250          NaN        Q
17        2    male   NaN      0      0   13.0000          NaN        S
18        3  female  31.0      1      0   18.0000          NaN        S
19        3  female   NaN      0      0    7.2250          NaN        C
20        2    male  35.0      0      0   26.0000          NaN        S
21        2    male  34.0      0      0   13.0000          D56        S
22        3  female  15.0      0      0    8.0292          NaN        Q
23        1    male  28.0      0      0   35.5000           A6        S
24        3  female   8.0      3      1   21.0750          NaN        S
25        3  female  38.0      1      5   31.3875          NaN        S
26        3    male   NaN      0      0    7.2250          NaN        C
27        1    male  19.0      3      2  263.0000  C23 C25 C27        S
28        3  female   NaN      0      0    7.8792          NaN        Q
29        3    male   NaN      0      0    7.8958          NaN        S
..      ...     ...   ...    ...    ...       ...          ...      ...
861       2    male  21.0      1      0   11.5000          NaN        S
862       1  female  48.0      0      0   25.9292          D17        S
863       3  female   NaN      8      2   69.5500          NaN        S
864       2    male  24.0      0      0   13.0000          NaN        S
865       2  female  42.0      0      0   13.0000          NaN        S
866       2  female  27.0      1      0   13.8583          NaN        C
867       1    male  31.0      0      0   50.4958          A24        S
868       3    male   NaN      0      0    9.5000          NaN        S
869       3    male   4.0      1      1   11.1333          NaN        S
870       3    male  26.0      0      0    7.8958          NaN        S
871       1  female  47.0      1      1   52.5542          D35        S
872       1    male  33.0      0      0    5.0000  B51 B53 B55        S
873       3    male  47.0      0      0    9.0000          NaN        S
874       2  female  28.0      1      0   24.0000          NaN        C
875       3  female  15.0      0      0    7.2250          NaN        C
876       3    male  20.0      0      0    9.8458          NaN        S
877       3    male  19.0      0      0    7.8958          NaN        S
878       3    male   NaN      0      0    7.8958          NaN        S
879       1  female  56.0      0      1   83.1583          C50        C
880       2  female  25.0      0      1   26.0000          NaN        S
881       3    male  33.0      0      0    7.8958          NaN        S
882       3  female  22.0      0      0   10.5167          NaN        S
883       2    male  28.0      0      0   10.5000          NaN        S
884       3    male  25.0      0      0    7.0500          NaN        S
885       3  female  39.0      0      5   29.1250          NaN        Q
886       2    male  27.0      0      0   13.0000          NaN        S
887       1  female  19.0      0      0   30.0000          B42        S
888       3  female   NaN      1      2   23.4500          NaN        S
889       1    male  26.0      0      0   30.0000         C148        C
890       3    male  32.0      0      0    7.7500          NaN        Q

[891 rows x 8 columns]

In [50]:
print(X_train.isnull().sum())

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [53]:
X_train = X_train.drop(['Age','Cabin'], axis = 1)
X_test = X_test.drop(['Age','Cabin'], axis = 1)
print(X_train['Embarked'].describe())
data = [X_train,X_test]
for dataset in data:
    dataset['Embarked'] = dataset['Embarked'].fillna("S")

count     891
unique      3
top         S
freq      646
Name: Embarked, dtype: object

In [54]:
# Categorical variables
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(),[1,5])], remainder = 'passthrough')
X_train = pd.DataFrame(ct.fit_transform(X_train))
X_test = pd.DataFrame(ct.fit_transform(X_test))

In [61]:
X_test[8].describe()
data = [X_train,X_test]
for dataset in data:
    dataset[8] = dataset[8].fillna(35.627188)

In [63]:
#randomforest
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators = 1000)
random_forest.fit(X_train, y_train)
y_prediction = random_forest.predict(X_test)
random_forest.score(X_test,y_prediction)
acc_random_forest = round(random_forest.score(X_train, y_train)*100,2)
print(acc_random_forest)

92.48

In [70]:
y_prediction

array([0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1],
      dtype=int64)

In [66]:
#SVM
from sklearn import svm
supportvector = svm.SVC()
supportvector.fit(X_train,y_train)
y_pred = supportvector.predict(X_test)
acc_svm = round(supportvector.score(X_train, y_train)*100,2)
print(acc_svm)

83.28

C:\Users\Shrijanaki\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [67]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
acc_lr = round(lr.score(X_train, y_train)*100,2)
print(acc_lr)

C:\Users\Shrijanaki\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

79.69

In [69]:
prediction = pd.DataFrame(y_prediction).to_csv('titanic_pred.csv')